html, body {
  margin: 0;
}

.one, .two, custom-tag, .math, .nested {
  background-color: #f2f2f2;
  border: #ccc;
  margin: 20px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
  padding: 20px;

  display: block;
}